<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Service API</title>
</head>
<main>
    <div class="jumbotron">
        <p class="lead">Welcome to the Product Service API</p>
        <a class="btn btn-primary" href="/product" role="button"> Create a new product</a>
        <br>
        <br>
        <a class="btn btn-secondary" href="/products" role="button"> View all products</a>
    </div>
</main>
</html>
