<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Order</title>
</head>

<body>
    <h1>Create Order</h1>
    <form action="/order" method="POST">
        <label for="product">Order Product:</label>
        <input type="text" id="product" name="product" required>
        <button type="submit">Create Order</button>
    </form>
</body>

</html>



