<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Service API</title>
</head>
<main>
    <div class="jumbotron">
        <p class="lead">Welcome to the Order Service API</p>
        <a class="btn btn-primary" href="/order" role="button"> Create a new order</a>
        <br>
        <br>
        <a class="btn btn-secondary" href="/orders" role="button"> View all orders</a>
    </div>
</main>
</html>
